<div>
  <p>Led-cs is a platform created to connect organizations with players to build a strong professional Counter-Strike scene.</p>
  <p><%= link_to 'Create Account', new_user_registration_path %> or <%= link_to 'Log-in', new_user_session_path %> to try it out.</p>
</div>


